.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    align-items: center;
}

.container .containDetails {
    width: 90%;
    display: flex;
    margin: 1rem 0 1rem 0;
}

.container .containDetails .containImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.container .containDetails .containImg p {
    margin: 0;
}

.container .containDetails .containImg p {
    color: #143D66;
}

.container .containDetails .profileToCompleted p{
    margin: 0;
}

.container .containDetails .profileToCompleted {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #143D66;
}


.container .containDetails .profileToCompleted .button {
    text-decoration: none;
    background-color: #01E3A6;
    border-radius: 4px;
    border: none;
    color: #143D66;
    margin-top: 1rem;
    width: 120px;
    height: 30px;
}

.container .containDetails .profileToCompleted .progressBar {
    max-height: 60px;
    max-width: 60px;
}

.container .containDetails .name {
    color: #143D66;
    font-weight: 600;
    text-transform: capitalize;
}

.container .containDetails .job {
    color: #143D66;
    font-weight: 600;
    margin: 0;
}

.container .containDetails .barre {
    height: 5px;
    width: 25px;
    border-radius: 5px;
    background: linear-gradient(90deg, #00ffba, #143d66);
    margin-bottom: 10px;
}

.container .status {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: solid 2px #143D66;
    border-radius: 4px;
    align-items: center;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
}

.container .status .dispo {
    color: #143D66;
    font-weight: 600;
    text-align: center;
}

.container .status .indispo {
    color: red;
    font-weight: 600;
}

.container .status .button {
    text-decoration: none;
    background-color: #01E3A6;
    border-radius: 4px;
    border: none;
    color: #143D66;
    width: 120px;
    height: 30px;
    margin-top: 1rem;
}

.container .status .containInputDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}


.container .containDetails .containImgClient {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.container .containDetails .containImgClient img {
    max-width: 60px;
    margin-bottom: 1rem;
}

.container .containDetails .containImgClient p {
    margin-bottom: 1rem;
}

.container .containDetails .containImgClient p {
    color: #143D66;
}