.container {
    margin-top: 80px;
    background-color: #E4F0F8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .containForm {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}