.section {
    display: flex;
    justify-content: center;
}

.section .container {
    width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 30px;
    margin: 75px 0 20px 0;
}

.section .container .title {
    color: #143D66;
    font-size: 22px;
    font-weight: 700;
}

.section .container .barre {
    height: 4px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(90deg, #00ffba, #143d66);
    margin-bottom: 10px;
}

.section .container .containInput {
    display: flex;
    flex-direction: column;
}

.section .container .containInput label {
    color: #143D66;
    font-size: 16px;
    font-weight: 600;
}

.section .container .containInput  input{
    
    height: 40px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: #143D66 solid 0.5px;
    padding: 12px 20px;
}

.section .container .button {
    outline: none;
    border: none;
    background-color: #01E3A6;
    color: #143D66;
    width: 180px;
    border-radius: 5px;
    height: 35px;
}