* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  background: #143d66;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section .container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0 5px 0;
}

.section .container p {
  margin: 0;
  color: #01e3a6;
}

.section .container .logoY {
  max-width: 60px;
}

.section .container .logoM {
  max-width: 75px;
  
}
.section .container .logoE {
  max-width: 58px;
}
.section .container .logoI {
  max-width: 50px;
}
.section .container .logoS {
  max-width: 50px;
}

@media (max-width: 800px) {
  .section .container {
    padding: 50px 30px 50px 30px;
    justify-content: center;
  }

  .section .container p {
    margin: 0;
    color: #01e3a6;
    font-size: 25px;
    margin-bottom: 40px;
  }

  .section .container .logoY {
    max-width: 110px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .section .container .logoM {
    max-width: 120px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .section .container .logoE {
    max-width: 90px;
    margin-right: 30px;
  }
  .section .container .logoI {
    max-width: 80px;
  }
  .section .container .logoS {
    max-width: 90px;
    margin-left: 30px;
  }
}
