
.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #143D66 solid;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
}

.container  .title {
    color: #143D66;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    margin-top: 1rem;
}

.container .barre {
    width: 90%;
    display: flex;
    margin-bottom: 1rem;
}

.container .barre div {
    width: 30px;
    background-color: #143D66;
    height: 5px;
    border-radius: 4px;
}

.container .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #143D66;
    font-weight: 600;
}
.container .form input {
    padding: 4px 20px;
}

.container .form .lastinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.container .form .lastinput .cp {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.container .form .lastinput .date {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.container .form .containButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container .form .button {
    height: 30px;
    width: 100px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #143D66;
    color: #fff;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
}